body{
    background-color: blanchedalmond;
}

h1{
    text-align: center;
    color: brown;
}

#myform{
    width: 40;
    /* background-color: ; */
    margin: auto;
}

input[type="text"], input[type="email"], input[type="number"]{
    width: 100%;
    height: 30px;
    outline: none;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="number"]:focus{
    letter-spacing: 5px;
    border: 4px solid #a8a8a8;
}

/*  */
input[type="radio"]:checked + label{
    color: red;
    letter-spacing: 5px;
    text-transform: uppercase;
}

input[type="checkbox"]:enabled + label{
    font-style: italic;
    color: rgb(127, 131, 255);
}

input[type="checkbox"]:disabled + label{
    color: red;
    letter-spacing: 5px;
    text-transform: uppercase;
}

input[type="checkbox"]:checked + label{
    font-style: normal;
    color: red;
}

ul li:first-child{
    background-color: blueviolet;
}

ul li:nth-child{
    background-color: brown;
}

ul li:nth-child(5){
    background-color: cadetblue;
}

p:empty{
    background-color: aqua;
    height: 20px;
}

.register_btn{
    width: 120px;
    height: 40px;
}

.register_btn:hover{
    background-color: rgb(69, 19, 205);
    color: aliceblue;
}

