/* universal selector*/
*{
    color: red;   
}

/* tage selector/ element selector */
h1{
    color: blue;
    text-align: center;
}

/* attribute selector */
a[title="google"]{
    color: green;
}

/* id selector*/
#idselector{
    color: blue;
    font-size: 50px;
}

/* class selector*/
.classselector{
    color: brown;
    text-transform: uppercase;
    font-size: 20px;
    text-indent: 50px;
}

/*Descandant Selector */

.desc a{
    color: red;
}

/* Child selector*/
.child > a{
    color: red;
}

/* Pseudo Selector */

a:link{
    color: red;
    text-decoration: none;
}

a:hover{
    color: green;
    font-size: 10px;
}

a:active{
    color: blue;
    font-size: 20px;
}

a:visited{
    color: purple;
}

div:target{
    color: red;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

/* Border */
.borderOne{
    border: 5px solid black;
    /* Border can write three things */
    /* size style color */
}

.borderTwo{
    border-top: 5px double green;
    border-left: 5px dotted white;
    border-right: 5px solid red;
    border-bottom: 5px solid black;
}

/* border width */
.borderThree{
    border-style: solid;
   /* border-width: 5px; */
    /* T / R / B / L 8 */
   /* border-width: 5px 10px; */
    /* T&B / L&R */
    /* border-width: 5px 10px 50px; */
    /* T / L&R / B */
    border-width: 5px 10px 50px ;
}

/* border style */
.borderFour{
    border-style: solid; /* color blank 1.5p */
    border-style: dotted solid;
    border-style: dotted dashed solid;
    border-style: dotted dashed solid double;
    border-width: 5px;
    border-color: green yellow red blue;
}

